body{
    position: relative;
    background-image: url("../images/selective-focus-photography-of-tree-leaves-754082.jpg");
    background-size: cover;
    height: 50%;
    margin-bottom: 0;
    z-index: 1;
    }

    .titleBox{
        color: whitesmoke;
        background: pink;
        font-size: 30px;
        font-family: 'Lacquer', sans-serif;
        text-align: center;
        z-index: 99;
        margin: 10px 0 10px 0;
        overflow: auto;
        border: 15px solid wheat;
    }
    
    .instruction-box{
        color: whitesmoke;
        background:skyblue;
        font-size: 30px;
        font-family: 'Lacquer', sans-serif;
        text-align: center;
        float: center;
        z-index: 99;
        margin:10px 0 10px 0;
        overflow: auto;
        border: 15px solid wheat;
    }

    .random-number{
        color: whitesmoke;
        background:pink;
        font-size: 30px;
        font-family: 'Lacquer', sans-serif;
        float: center;
        width: 5%;
        padding: 30px;
        margin: 10px 0 10px 0;
        border: 15px solid wheat;
    }

    
    #crys1{
        border:15px solid plum;
       
    }

    #crys2{
        border:15px solid turquoise;
       
    }
    

    #crys3{
        border:15px solid aquamarine;

    }
    

    #crys4{
        border:15px solid steelblue;
    }
   
    .total-score{
        color: whitesmoke;
        background:skyblue;
        font-size: 30px;
        font-family: 'Lacquer', sans-serif;
        float: center;
        width: 19%;
        padding: 30px;
        margin: 10px 0 10px 0;
        border: 15px solid wheat;
    }

    .winLoseBox{
        color: whitesmoke;
        background: pink;
        font-size: 30px;
        font-family: 'Lacquer', sans-serif;
        float: center;
        width: 20%;
        padding: 30px;
        margin: 10px 0 10px 0;
        border: 15px solid wheat;
    }